__pycache__/

*.safetensors
*.bin

# weights & biases
wandb/

# ignore large model, keep logs and evaluation
results/*/final_model/
results/*/merged_model/
results/**/merged_model/

.DS_Store
Thumbs.db
.vscode/

*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

*.out
